.video-grid-container
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: blue;
}

.main-grid-container
{
	display: grid;
	grid-template-columns: 60%;
} 

video
{
	border-radius: 30%;
	background-color: black; 	
}




